<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrive/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,46}</string>
                <key>spriteSourceSize</key>
                <string>{6,46}</string>
                <key>textureRect</key>
                <string>{{71,365},{6,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrive/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrive/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{63,325},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrive/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{56,287},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrive/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{30,252},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrive/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{54,187},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrive/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{20,0},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,38}</string>
                <key>spriteSourceSize</key>
                <string>{21,38}</string>
                <key>textureRect</key>
                <string>{{0,325},{21,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall_shoot/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{34,325},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{0,155},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{0,187},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{27,187},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{74,155},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{85,252},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,38}</string>
                <key>spriteSourceSize</key>
                <string>{13,38}</string>
                <key>textureRect</key>
                <string>{{21,325},{13,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,43}</string>
                <key>spriteSourceSize</key>
                <string>{17,43}</string>
                <key>textureRect</key>
                <string>{{54,365},{17,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_shoot/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{58,252},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_shoot/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,38}</string>
                <key>spriteSourceSize</key>
                <string>{22,38}</string>
                <key>textureRect</key>
                <string>{{84,287},{22,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_shoot/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{29,365},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{91,325},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{28,287},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{47,0},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing_shoot/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{0,365},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing_shoot/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{0,287},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>landing_shoot/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{80,0},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{68,123},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoot/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{95,123},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{27,155},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{101,155},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{57,30},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{58,219},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{84,30},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{0,61},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{0,30},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,32}</string>
                <key>spriteSourceSize</key>
                <string>{20,32}</string>
                <key>textureRect</key>
                <string>{{54,155},{20,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{79,219},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{30,61},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{0,92},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{0,219},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{0,252},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{63,92},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{0,123},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{31,92},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{82,187},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{27,219},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{58,61},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{23,30},{34,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_shoot/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{35,123},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>megaman.png</string>
            <key>size</key>
            <string>{121,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b4a244396c5c166b6e66d27cfa4536:54b4e532dd02098d9301ea8f09c4b1b4:7c2464d4bb85f1ec035fc06970939f94$</string>
            <key>textureFileName</key>
            <string>megaman.png</string>
        </dict>
    </dict>
</plist>
